- content_for :page_css do
  = render :partial => 'styles.html.haml'

.Help
  = render :partial => 'help_nav'
  .MainTopics
    %h1
      = rdoc_extension_dir(@rdoc).titleize 
      Extension
    = SM::SimpleMarkup.new.convert(File.read(@rdoc), SM::ToHtml.new)
  = render :partial => 'additional_features_list', :locals => {:extensions => @extensions}    
  = render :partial => 'rdocs_list', :locals => {:rdocs => @rdocs}