- content_for :page_css do
  = render :partial => 'styles.html.haml'

.Help
  = render :partial => 'help_nav'
  %h1= @cms_name + " Help"
  .MainTopics
    - render_region :main do |main|
      = main.render_region :introduction
      = main.render_region :organizing
      = main.render_region :editing
  = render :partial => 'additional_features_list', :locals => {:extensions => @extensions}    
  = render :partial => 'rdocs_list', :locals => {:rdocs => @rdocs}