- content_for :page_css do
  :sass
    .Help
      :overflow hidden
      :min-width 900px
      .Extensions
        :background #eee
        :float right
        :width 38%
        *
          :margin 0 10px
        * *
          :margin 0
      .MainTopics
        :float left
        :width 60%
        *
          :margin 0
        h2
          :font-size 1.4em
        h3
          :margin-bottom 10px
        h4
          :color #666
          :border-bottom 1px solid #666
          :padding-bottom 2px
        p
          :color #333
          :margin 0 0 10px

%h1 
  = @name + " Help"
.Help
  .MainTopics
    - render_region :main do |main|
      = main.render_region :introduction
      = main.render_region :organizing
      = main.render_region :editing
    - developer_help do
      .DeveloperTopics
        - render_region :developer do |developer|
          = developer.render_region :layouts
    - admin_help do
      .AdminTopics
        - render_region :admin do |admin|
          = admin.render_region :users
      
  - unless @extensions.blank?
    .Extensions
      %h2 Additional Features
      - render_region :additional do |additional|
        = additional.render_region :features_introduction
      - @extensions.each do |e|
        %h3
          = link_to e.name, (help_url() + '/' + e.name)
        = render :partial => 'details', :locals => {:extension => e}
  