- content_for :page_css do
  = render :partial => 'styles.html.haml'

.Help
  = render :partial => 'help_nav'
  .MainTopics
    %h1= "#{@role.titleize} Help"
    = render :partial => "admin/help/#{@role}_index"
  = render :partial => 'additional_features_list', :locals => {:extensions => @extensions}    
  = render :partial => 'admin/help/rdocs_list', :locals => {:rdocs => @rdocs, :role => @role}