- content_for :page_css do
  = render :partial => 'styles.html.haml'

.Help
  = render :partial => 'help_nav'
  .MainTopics
    %h1= "#{@role.titleize} Help"
    = render :partial => "#{@role}_index"
  .Extras 
    - render_region :extras do |extras|
      %h2 This does not show up for some very strange reason.
      - extras.render_region :extension_docs_list 
      = extras.render_region :regions do
        = render :partial => 'regions'